<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="mt-4 mb-4">
  <h1>Achref RIAHI</h1>
  <p class="lead">
    Développeur WEB
  </p>
  <p>
  Florence avait fini de préparer le matériel demandé par Prélude. Elle était fin prête. Elle vérifia le bon fonctionnement de la liaison entre son ordinateur portable et Internet. Prélude était bien là. A peine connecté à Internet que la voix de Prélude se fit entendre.
  </p>
  <p>
  De tout temps, l'homme a tenté de comprendre puis de reproduire l'extraordinaire machine qu'est l'être humain. Les premiers automates nous font sourire aujourd'hui. Les premiers ordinateurs également, mais un peu moins. Et lorsqu'un certain McCullogn, aidé de Pitts, invente en 1943 le premier neurone formel, on ne rigole plus. L'ordinateur est devenu capable de reproduire des neurones artificiels. Le "complexe de Frankenstein" va alors freiner les recherches. On commence à entendre parler du concept d'Intelligence Artificielle, plus connu sous les termes d'IA. Cela fait peur.
  </p>
  <p>
  Désormais, tous les ordinateurs lui étaient accessibles. Les centrales nucléaires, les services informatiques des grandes compagnies, de l’eau, du téléphone, la télévision, l’électricité, la défense, la bourse...
  </p>
  <p>
  « Oui, mais rien d’exceptionnel. » David essaie de se rappeler si dans la lancée de sa jeunesse fougueuse, il n’aurait pas installé une bombe logique sur les ordinateurs de l’armée, mais il ne se rappelait pas avoir fait une telle bêtise. Planter tout le système informatique de la base aurait été trop grave de conséquences.
</p>
<p>
  La route commença à s’enfoncer. On ne voyait plus les grillages sur les cotés, mais juste des rochers. Et soudain, les voitures s’arrêtèrent devant une énorme porte en métal entourée de béton. D’énormes blocs de béton. David avait visité d’anciennes fortifications de la ligne Maginot, mais rien de semblable. Même le Simserhof, situé à proximité de Bitche, semblait petit à côté de cette porte. Mais David n’était pas au bout de sa surprise.
</p>
</div>
</div>
<div class="col-lg-4 mt-4">
  <img src="assets/programmer.png" alt="" width="100%">
</div>
</div>
</div>
